.analyze-block {
    background: #ffffff;
    border-radius: 30px;
    box-shadow: 10px 5px 20px #e1eaf0;
    padding: 20px;
    margin: 0;
}


.table-statistics {
    width: 100%; /* Таблиця займатиме всю ширину контейнера */
    border-collapse: collapse; /* Забирає зайві пробіли між комірками */
    table-layout: fixed; /* Фіксований розмір стовпців */
  }

  
.table-statistics th, .table-statistics td{
    overflow: hidden; /* Ховає зайвий текст */
    padding: 2px;
    text-align: center;
}

.pie {
    max-height: auto;
}

.diagram{
    background: #ffffff;
    border-radius: 30px;
    box-shadow: 10px 5px 20px #e1eaf0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
}

.diagram-title {
    color: #3782e2;
    font-weight: 600;
    margin-bottom: 10px;
}

.title {
    font-weight: 600;
    color: #0a58ca;
}